body {
    background: url("../assets/peakpx.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#searchBox {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.492);
    width: 16%;
    border-radius: 50px;
    border: 0px;
    box-shadow: 10px;
    margin-top: 1%;
    margin-left: 77vw;
}

#searchField {
    outline: none;
    border: none;
    background: none;
    padding: 2.4%;
    margin-left: 5%;
}

#btn-search {
    border: none;
    background: none;
    transition-duration: 0.2s;
}

#btn-search:hover {
    filter: drop-shadow(2px 2px 2px #222);
}
#switchTheme{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
}
#btnDarkMode{
    border: none;
    background: none;
    transition-duration: 0.2s;
}
#btnDarkMode:hover{
    filter: drop-shadow(2px 2px 2px #222);
}