body {
    background: url("../assets/peakpx.jpg");
    background-attachment: fixed;
    background-size: cover;

}

.city-search-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lblLocation {
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-weight: 600;
    position: relative;
    font-size: 2vw;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchField {
    position: relative;
    outline: none;
    border: none;
    border-radius: 50px;
    background: rgba(225, 225, 225, 0.492);
    padding: 2.4%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5%;
}

.btn-search {
    border: none;
    background: none;
    transition-duration: 0.2s;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-search:hover {
    filter: drop-shadow(2px 2px 2px #222);
}

.switchTheme {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
}

.btnDarkMode {
    position: relative;
    top: 40%;
    border: none;
    background: none;
    transition-duration: 0.2s;
}

.btnDarkMode:hover {
    filter: drop-shadow(2px 2px 2px #222);
}

.currentWeather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.currentTemp {
    font-family: cursive;
    font-weight: 1000;
    font-size: 3rem;
    color: rgb(99, 99, 99);
}

.currentState {
    position: relative;
    bottom: -10vh;
    left: -15vh;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 500;
    color: rgb(99, 99, 99);
}

.verticalLine {
    position: relative;
    left: -12vh;
    width: .3vw;
    height: 10vw;
    background-color: #FFF;

}

.tblDetails {
    padding: 40px;
    color: rgb(99, 99, 99);
    font-size: 5vh;
    font-family: cursive;
    font-weight: 600;
}

.weatherStatus {
    font-size: large;
}

.tblContainer {
    position: relative;
}

.tblContainer {
    background-color: rgba(240, 248, 255, 0.516);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.33);
    border-radius: 30px;
}

.lblHistory {
    font-family: cursive;
    font-weight: 1000;
    font-size: 150%;
    color: aliceblue;
}

.historyDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.historyDetails {
    display: flex;
    justify-content: center;
    width: 18rem;
    height: 23rem;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.516);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.33);
    margin-left: 20px;
    margin-right: 20px;
}

.lblFuture {
    font-family: cursive;
    font-weight: 1000;
    font-size: 150%;
    color: aliceblue;
}

.nextDaysDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.516);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.33);
}

.card {
    background-color: rgba(240, 248, 255, 0.516);
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.33);
}

.lblFutureDetals {
    padding: 20px;
    padding-right: 50px;
    font-family: cursive;
    font-size: larger;
    color: rgb(99, 99, 99);
}

.tblFuture {
    width: 90%;
    height: 91%;
    margin: 10px;

}

.second-table-td {
    border-bottom: 3px solid rgb(255, 255, 255);
    text-align: center;
}
.lblCard1{
    font-family: cursive;
    font-size: larger;
    color: rgb(99, 99, 99);
    font-weight: 600;
}
.lblCard2{
    font-family: cursive;
    font-size: larger;
    color: rgb(99, 99, 99);
    font-weight: 600;
}
.lblCard3{
    font-family: cursive;
    font-size: larger;
    color: rgb(99, 99, 99);
    font-weight: 600;
}
.historyTableDetails{
    font-family: cursive;
    font-size: large;
    color: rgb(99, 99, 99);
    font-weight: 300;
}
.textStyle{
    font-family: cursive;
    font-size: large;
    color: rgb(99, 99, 99);
    font-weight: 300; 
}